# Segmenting and Clustering Neighborhoods in Toronto

## Part 1

For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

1. Start by creating a new Notebook for this assignment.

2. Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas  dataframe like the one shown below:

<img src="https://d3c33hcgiwev3.cloudfront.net/imageAssetProxy.v1/7JXaz3NNEeiMwApe4i-fLg_40e690ae0e927abda2d4bde7d94ed133_Screen-Shot-2018-06-18-at-7.17.57-PM.png?expiry=1612051200000&hmac=fNw-1Gdi7Lfj1owZ5-yFZ4WIL4am9NnNrfoZcuuPbGA" width = 500>

3. To create the above dataframe:
    + The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
    + Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
    + More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11  in the above table.
    + If a cell has a borough but a Not assigned  neighborhood, then the neighborhood will be the same as the borough.
    + Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
    + In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.


4. Submit a link to your Notebook on your Github repository.(10 marks)

**Note**: There are different website scraping libraries and packages in Python. For scraping the above table, you can simply use pandas  to read the table into a pandas dataframe.

Another way, which would help to learn for more complicated cases of web scraping is using the BeautifulSoup package. Here is the package's main documentation page: http://beautiful-soup-4.readthedocs.io/en/latest/

Use pandas, or the BeautifulSoup package, or any other way you are comfortable with to transform the data in the table on the Wikipedia page into the above pandas dataframe.

In [1]:
#importing libraries
import pandas as pd
!pip3 install lxml
import numpy as np

Requirement already satisfied: lxml in /home/jupyterlab/conda/lib/python3.9/site-packages (4.6.2)

### Create the dataframe

To create the dataframe I will use pandas library, I will create a starting df_data I can recall if anything happens to the next processed dataframes.

In [2]:
html_data = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
html_data[0]
df_data = html_data[0]
df_data.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Now let's look at df_data characteristics before preprocessing

In [3]:
df_data.shape

(180, 3)

In [4]:
df_data.tail()

,Postal Code,Borough,Neighbourhood
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [5]:
df_data.groupby(['Borough']).count()

                  Postal Code  Neighbourhood
Borough
Central Toronto             9              9
Downtown Toronto           19             19
East Toronto                5              5
East York                   5              5
Etobicoke                  12             12
Mississauga                 1              1
North York                 24             24
Not assigned               77             77
Scarborough                17             17
West Toronto                6              6
York                        5              5

df_data has 77 Postal Code with Not assigned Borough. As we need Borough information, I will drop rows with Not assigned Borough

In [6]:
df = df_data[df_data.Borough != 'Not assigned']
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [7]:
df.loc[(df.Neighbourhood == 'Not assigned')]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In the column Neighbourhood there are no *Not assigned* left. The preprocessing is completed. Now that the dataset is ready, I can reset the index ad verify the shape.

In [8]:
df.reset_index(inplace=True)

In [9]:
df = df.drop(['index'], axis=1)

In [10]:
print(df.shape,' --> 77 lines dropped from the scraped dataframe')
print(df.dtypes)
df.head(12)

(103, 3)  --> 77 lines dropped from the scraped dataframe
Postal Code      object
Borough          object
Neighbourhood    object
dtype: object

,Postal Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
5,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
6,M1B,Scarborough,"Malvern, Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."

*Thank you*